[Description]
intsrument = LHIRESIII
micrometer = 18.25 mm
camera = SBIG ST-1603ME

[Detector]
pixel_scale = 0.722
xpixels = 1530
ypixels = 1020

[Grism]
dispersion_direction = RL
linear_dispersion = 0.14
reference_lambda = 6678.280

[Files]
# data_hdu = Primary
